.content {
  padding: 6.4rem 0;
}

.postItem {
  width: 100%;
  display: block;

  & + .postItem {
    margin-top: 4.8rem;
  }

  h2 {
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.4rem;
    text-align: justify;
    letter-spacing: -0.5px;
    color: var(--gray-50);

    @media (max-width: 600px) {
      font-size: 2.4rem;
      line-height: 3rem;
    }
  }

  p {
    margin-top: 0.8rem;
    line-height: 22px;
    text-align: justify;
    color: var(--gray-100);
  }
}

.postInfo {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  gap: 2.6rem;

  span,
  time {
    font-size: 1.4rem;
    line-height: 1.7rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--gray-150);
  }

  @media (max-width: 600px) {
    span,
    time {
      font-size: 1.2rem;
    }

    svg {
      width: 12px;
      height: 12px;
    }
  }
}

.maisPosts {
  display: inline-block;
  margin-top: 6.4rem;
  color: var(--pink);
  font-weight: 600;
  line-height: 2.2rem;
  background: none;
  border: 0;
}
